<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>assignment</title>
  </head>
  <body>
    <header>
      <div class="container">

        <button class="btn home">回到首頁</button>

        <div class="features">
          <button class="btn about">About</button>
          <button class="btn portfolio">Portfolio</button>
          <button class="btn contact">Contact</button>
        </div>
      </div>
    </header>
    <div class="main">

      {{{body}}}
    </div>
    <script src="/javascripts/index.js"></script>
  </body>
</html>