html,
body {
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
}
.features {
  display: grid;
  grid-auto-flow: column;
  gap: 15px;
}
.main {
  max-width: 1200px;
  margin: 0 auto;
}
.btn {
  margin: 0;
  outline: none;
  border: 0px;
  font-size: 14px;
  padding: 10px;
  border-radius: 4px;
}
.active {
  background-color: rgb(141, 141, 141);
}
